@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", ui-serif, Georgia, serif;

  --color-primary: #4A5D4E;
  --color-primary-dark: #2C362F;
  --color-accent: #D4A373;
  --color-base: #FDFBF7;
  --color-base-dark: #F2EFE9;
  --color-border: #E8E2D9;
  --color-text-main: #3D3D3D;
  --color-text-muted: #8B7E66;
  --color-text-light: #6B6B6B;
}

@utility custom-scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.02);
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(var(--color-accent), 0.3);
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(var(--color-accent), 0.5);
  }
}

.dir-rtl {
  direction: rtl;
}
